@import url('https://fonts.googleapis.com/css?family=Lato');

h1,
h2,
h3,
h4,
p,
th,
span,
label {
  color: $dark-grey;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
  @include font-size($font-big);
}

span {
  &.error {
    color: $red;
  }
}

.bold {
  font-weight: bold;
}

.font-tiny {
  @include font-size($font-tiny);
}

.font-default {
  @include font-size($font-default);
}

.font-medium {
  @include font-size($font-medium);
}

.font-medium-x {
  @include font-size($font-medium-x);
}

.font-big {
  @include font-size($font-big);
}

.font-extra-big {
  @include font-size($font-extra-big);
}

.font-mid-grey {
  color: $mid-grey;
}
