.marg-bottom-10 {
  margin-bottom: 10px;
}

.marg-bottom-20 {
  margin-bottom: 20px;
}

.marg-bottom-40 {
  margin-bottom: 40px;
}

.marg-top-10 {
  margin-top: 10px;
}

.marg-top-20 {
  margin-top: 20px;
}

.marg-top-40 {
  margin-top: 40px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}
