//Typography
$font-tiny: 14px;
$font-default: 16px;
$font-small: 12px;
$font-medium: 22px;
$font-medium-x: 26px;
$font-big: 32px;
$font-extra-big: 60px;

//Color
$alto: rgb(210, 210, 210);
$dark-grey: rgb(61, 51, 54);
$red: rgb(224, 89, 104);
$green: rgb(189, 228, 113);
$pastel-green: rgb(121, 202, 121);
$light-green: rgb(194, 226, 132);
$light-grey: rgb(251, 250, 255);
$mid-grey: rgb(152, 152, 152);
$santas-grey: rgb(230, 230, 230);
$white: rgb(255, 255, 255);
$red: rgb(255, 59, 81);

//Forms
$input-height: 34px;
