development:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: microblog_client_development
  pool: 5
  username: postgres

test:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: microblog_client_test
  pool: 5
  username: postgres

production:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: microblog_client_production
  pool: 5
  username: postgres
