.search-result {
  .picture {
    position: relative;
    top: 10px;
  }

  .details {
    margin-left: -18%;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .btn {
    background-color: $pastel-green;
    padding: 4px 9px;
    position: relative;
    top: 4px;
  }

  .glyphicon-plus {
    color: $light-grey;
  }
}
